
.bienvenido {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;


    height: 110vh;
    padding: 25px;

    background-image: url('https://www.telemundo.com/sites/nbcutelemundo/files/images/promo/article/2016/08/16/estudiante-universitaria-con-smartphone-en-biblioteca.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.img-facebook {
    height: 100vh;
}

.img-facebook img {
    height: auto;
    width: 100%;
}

.escuela {
    padding: 20px;
    width: 50%;
    height: 60%;
    color: white;
}

.nombre {
    font-size: 3.5rem;
    color: white;
}
.bold {
    color: gold;
}

/*Carusel y tajertas de inicio*/
/* Slim Cards */
.carruselHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
}

.cardHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43%;
    padding: 15px;
    border-radius: 7%;
    text-align: center;
    background-color: #864AF9;
}

.cardHome img {
    width: 250px;
    height: 250px;
}

.cardHome h2 {
    margin-bottom: 0;
}
.cardHome button {
    margin: 17px;
}
