
.bienvenido {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;


    height: 100vh;
    padding: 25px;

    background-image: url('https://www.telemundo.com/sites/nbcutelemundo/files/images/promo/article/2016/08/16/estudiante-universitaria-con-smartphone-en-biblioteca.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

/* .wrap {
    height: 100vh;
    background-color: blue;
} */

.escuela {
    padding: 20px;
    width: 50%;
    height: 60%;
    color: white;
}

.nombre {
    font-size: 3.5rem;
    color: white;
}
.bold {
    color: gold;
}

.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 50%;
}
