.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    height: 90vh;
}

.container {
    width: 70%;
    height: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 1.3rem;
    background-color: #FFC436;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.cuerpo {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    background-color: #0174BE;
    color: white;

}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100%;
    border-right: solid 6px white;
}

.formulario form {
   width: 85%;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 40%;
    height: 100%;
    margin-left: 35px;
}

.cajaRed {
    font-size: 18px;
}

/*Este bloque evita que los botones de las redes sociales con redireccion cambien de color */
.cajaRed a:link, a:visited, a:active {
    color: white
}

.nombreRed {
 margin-left: 7px;
}

