


.video-container2 {
    position: absolute;
    bottom: 130px; /* Mueve el video un poco más hacia abajo */
    right: 6%; /* Aleja el video un 10% a la derecha */
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
    z-index: 1;
    border-radius: 55px;
  }
  
  video {
    width: 100%;
    height: 100%;
    border-radius: 19px;
  }
  


  